body{
	background:#F28D37;
	font-size:16px;
	margin:0;
}

.div_title{
	position:absolute;
	width:100%;
	text-align:center;
}

.title{	
	color:#fff;
	font-size:5em;	
	font-family: Montserrat, Helvetica, Sans-serif;
}

#particles-js{
	position:relative;
	z-index:1;
	width: 100%;
	height: 100vh;
}

.particles-js-canvas-el{
	height: 100%;
	position:relative;	
	z-index: 2;
}

.cuadro{
	position:absolute;
	display:block;
	margin:40vh 2em;
	z-index: 3;
	width:100%;
	text-align:center;
}

.cuadro_info{
	border:.3em solid #FA7200; 
	border-radius: 1.2em;
	display:inline-block;
	width:20%;
	margin:0 2em;
	text-align:center;
}

.title_cuadro{
	color:#fff;
	font-size:1.5em;	
	font-family: Montserrat, Helvetica, Sans-serif;
}